<div class = 'calculator'>
<h1>Tip Calulator</h1>
<form >
  Check Total:<br>
  <input type="tel" id="total" placeholder="Enter Bill Total..."
         onchange="calculateTotal()">
  <br>
  Tip Percentage:<br>
  <input type="tel" id="tip" placeholder="Enter Tip..."
         onchange="calculateTotal()">
  <br>
  <br>

  Bill Total:<br>
  <input type="number" id="bill" placeholder="0"
         onchange="calculateTotal()">
</form>
  <p id='opinion'></p>
</div>

<script>
  function getTotal(){
    total = parseFloat(document.getElementById('total').value)
    if (total <= 0){
      alert('Please enter a positive number')
      document.getElementById('total').value = null
    }
    else {
      return total
    }
  }

  function getTip(){
    tip = parseFloat(document.getElementById('tip').value)
    if (tip <= 0){
      alert('Please enter a positive number')
      document.getElementById('tip').value = null
    }
    else {
      return tip
    }
  }

  function calculateTotal() {
    tip = ((getTotal() * getTip())/100);
    bill = (getTotal() + tip).toFixed(2);

    if (getTip() != null){
      document.getElementById('bill').value = bill;
    }
    giveOpinion()
    console.log(total);
  }

  function giveOpinion() {
    tip1 = (getTotal()* (getTip()/100));
    if (getTip() < 15) {
      document.getElementById('opinion').innerHTML = 'A $'+tip1 + " tip? That's a little low...";
    }
    else if (getTip() >=15 && getTip() <=20) {
      document.getElementById('opinion').innerHTML = "That's an $"+tip1+" tip!";
    }
    else if (getTip() > 20) {
      document.getElementById('opinion').innerHTML = "A $"+tip1+" tip? Wow, big spender!";
    }
  }

</script>
