<div class = 'calculator'>
<h1>Tip Calulator</h1>
<form >
  Check Total:<br>
  <input type="tel" id="total" placeholder="Enter Bill Total..."
         onchange="calculateTotal()">
  <br>
  Tip Percentage:<br>
  <input type="tel" id="tip" placeholder="Enter Tip..."
         onchange="calculateTotal()">
  <br>
  <br>

  Bill Total:<br>
  <input type="number" id="bill" placeholder="0"
         onchange="calculateTotal()">
</form>
  <p id='opinion'></p>
</div>

<script>
  function getTotal(){
    return parseInt(document.getElementById('total').value)
  }

  function getTip(){
    return parseInt(document.getElementById('tip').value)
  }

  function calculateTotal() {
    tip = ((getTotal() * getTip())/100);
    bill = getTotal() + tip;

    if (getTip() != null){
      document.getElementById('bill').value = bill;
    }
    giveOpinion()
    console.log(total);
  }

  function giveOpinion() {
    tip = (getTotal()* (getTip()/100)).toFixed(2);
    if (getTip() < 15) {
      document.getElementById('opinion').innerHTML = 'A $'+tip + " tip? That's a little low...";
    }
    else if (getTip() >=15 && getTip() <=20) {
      document.getElementById('opinion').innerHTML = "That's an $"+tip+" tip!";
    }
    else if (getTip() > 20) {
      document.getElementById('opinion').innerHTML = "A $"+tip+" tip? Wow, big spender!";
    }
  }

</script>
